body {
    margin: 0;
}

.register {
    background-color: #f9f9f9;
    width: 600px;
    height: 320px;
    text-align: center;
    margin-left: 500px;
    margin-top: 50px;
}

.table {
    border-spacing: 15px;
}

.buttton {
    text-align: left;
    margin-left: 50px;
}
